# ==============================================================================
# Domain & Data Binaries (LiDAR / Geospatial)
# ==============================================================================
data/*
!data/.keep
*.e57
*.las
*.laz
*.ply
*.csv
*.xlsx

# ==============================================================================
# Notebooks & Local Testing
# ==============================================================================
.ipynb_checkpoints/
notebooks/old_*.ipynb
notebooks/archive/
notebooks/output

# ==============================================================================
# Python Runtime, Virtual Envs & Build Output
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
build/
dist/
*.egg-info/

# ==============================================================================
# Environment & IDE Settings
# ==============================================================================
.env
.vscode/
.idea/
.DS_Store
Thumbs.db